@model List<BaseFirst.Contact>
@{
    ViewBag.Title = "Editor";
}

<h2>Editor</h2>
<div>
    @using (Html.BeginForm("addName" , "HomeController"))
    {
       
        @Html.EditorFor(m => m)

        <p><input type="submit" value="send" /></p>
        
        
    }
</div>

<div>
    @foreach (var item in Model)
    {
        @item.NAme;
        <p>@Html.TextBoxFor(a => item.NAme)</p>
        @item.LastNAme;
        <p>@Html.TextBoxFor(a => item.LastNAme)</p>
    }

</div>