@model IEnumerable<BaseFirst.Contact>


<h2>Editor</h2>
<div>
    @using (Html.BeginForm("addName" , "HomeController"))
    {
       
        @Html.EditorFor(m => m)

        <p><input type="submit" value="send" /></p>
        
        
    }
</div>

<div>
    @foreach (BaseFirst.Contact item in this.Model)
    {
        @item.NAme;
        <p>@Html.TextBoxFor(a => item.NAme)</p>
        @item.LastNAme;
        <p>@Html.TextBoxFor(a => item.LastNAme)</p>
    }

</div>